@using Radzen
@using Radzen.Blazor
@inject DialogService DialogService

@* Radzen Dialogを使用したデモ *@

<div class="radzen-dialog-demo">
    <h3>Radzen Dialog デモ</h3>

    <div class="mb-3">
        <RadzenButton Text="ダイアログを開く"
                      ButtonStyle="ButtonStyle.Primary"
                      Click="@OpenDialog" />
    </div>

    <div class="mb-3">
        <RadzenButton Text="確認ダイアログ"
                      ButtonStyle="ButtonStyle.Warning"
                      Click="@OpenConfirmDialog" />
    </div>

    @if (!string.IsNullOrEmpty(DialogResult))
    {
        <div class="alert alert-success">
            結果: @DialogResult
        </div>
    }
</div>


