root = true

# All files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# C# files
[*.cs]

#### Core EditorConfig Options ####
indent_style = space
indent_size = 4
end_of_line = crlf

#### C# コーディング規則 ####
# 検証用: ターゲット型new演算子
# 現在のレベル: warning（「警告とエラーを修正」の検証用）
csharp_style_implicit_object_creation_when_type_is_apparent = true:warning

# 検証用: 中括弧の追加
# 現在のレベル: warning（「警告とエラーを修正」の検証用）
csharp_prefer_braces = true:warning

# 検証用: usingの配置
# 現在のレベル: warning（「警告とエラーを修正」の検証用）
csharp_using_directive_placement = outside_namespace:warning
